#basic_form {
  width: 600px;
  padding: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
}

#basic_form > div {
  padding: 10px;
}

#basic_form label {
  display: flex;
  font-weight: bold;
}

#basic_form label span {
  display: inline-block;
  width: 150px;
}

#basic_form label div {
  flex: 1;
}

#basic_form input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

#basic_form button {
  display: block;
  border: 0;
  color: #fff;
  padding: 10px;
  width: 200px;
  margin: 20px auto 0 auto;
  background-color: #0144ff;
}

#swiper_container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.swiper_1,
.swiper_2 {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.swiper_status_1,
.swiper_status_2 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
}

.swiper-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 40%;
  height: auto;
}

/* ================== 以下、app.html用====================== */
.app {
  background-color: rgb(40, 40, 40);
  color: white;
}

.main-container {
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: left;
  border: 2px solid black;
  border-color: rgba(150, 150, 150, 0.5);
  position: relative;
  z-index: 1;
  background-color: rgba(100, 100, 100, 0.7);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-container img {
  width: 315px;
  height: 177px;
  object-fit: cover;
  border-radius: 5px;
}

.section {
  width: 320px;
  display: inline-block;
  align-items: center;
  margin-top: 15px;
  margin-right: 8px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: rgba(240, 240, 240, 0.8);
  color: #222222;
  border-radius: 7px;
}

#backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px) brightness(0.9);
  transform: scale(1.05);
  transition: background-image 0.3s ease;
}
